<input type="file" (change)="onChange($event)" placeholder="請選擇檔案" />

<div class="content" role="main">
  <table>
    <thead>
      <tr>
        @for(key of objectKeys; track $index){
        <th>{{ key }}</th>
        }@empty {
        <th>無資料</th>
        }
      </tr>
    </thead>
    <tbody>
      @for(item of dataArray; track $index) {
      <tr>
        @for(key of objectKeys; track $index){
        <td style="padding-left: 10px; padding-right: 10px;">{{ item[key] }}</td>
        }
      </tr>
      }
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
